body,html {
  margin:0;
  padding:0;
}
.layout{
  min-height:100vh;
  margin: 0 auto;
  padding:0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.content{
  margin: 0 auto;
  padding: 0px 0.5rem;
  padding-top: 0;
  display: flex;
  min-height:80%;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.content__posts{
  display: flex;
  flex-flow: column nowrap;
  
}

@media screen and (min-width: 1280px) {
  .content {
    padding: 0rem 20rem;
  }
}
@media screen and (min-width: 900px) {
  .content {
    padding: 0rem 15rem;
  }
}