@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=DM+Mono&family=Open+Sans:wght@300;400;600&display=swap');

body{

	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 28px;
	color:#495057;
}
h1 {
	font-family: 'Bitter', serif;
	font-weight: 700;
	font-style: normal;
	a {
		text-decoration: none;
	}
}
a:visited {
		color:#495057;
}

code {
	font-family: 'DM Mono', monospace;
	font-size: 14px;
	padding: 5px;
}
